*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    /* нулевая граница */
    padding: 0;
    /* нулевые отступы */
    border: 0;
    /* больше всего для картинок в IE6 */
    outline: 0;
    /* точечная граница вокруг ссылок в Firefox */
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}
